.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;

  text-align: center;
}

h1:nth-child(1) {
  margin-bottom: 0px;
}
h1 {
  margin-top: 0px;
}

.counter-inner {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 50%; */
}
span {
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
button {
  font-size: 25px;
  /* border: none; */
  width: 200px;
  /* background-color: #fff; */
  background-color: #23d100a2;
  cursor: pointer;
  padding: 0;
}
#reset {
  background-color: #6c6c6ca2;
}
#negative {
  background-color: #fa6565a2;
  width: 50px;
  height: 40px;
}
#positive {
  background-color: #23d100a2;
  width: 50px;
  height: 40px;
}
#concrete {
  background-color: #48ab2fbf;
}
#abstract {
  background-color: #1d680b;
}
#yanyana {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* flex-direction: column; */
}
#txtbox {
  /* container class ının içindeki span TAG larına erişim */
  font-size: 18pt;
  height: 42px;
  width: 250px;
  margin-right: 20px;
  text-align: center;
  align-items: center;
}
